<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% seo %}


  <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700" rel="stylesheet">

  <!-- Inline CSS here -->
  <style type="text/css">
  {% capture inline_css %}
    {% include inline.scss %}
  {% endcapture %}
  {{ inline_css | scssify }}

  #background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("{{site.url}}/assets/bg.png");
    /*background-repeat: repeat;*/
    background-attachment: fixed;
    opacity: 0.5;
    filter:alpha(opacity=50);

  }
  </style>

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="{{ site.url }}/assets/ico/favicon.ico">
</head>
