<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% seo %}


  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.0/css/all.css"> -->
  <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css"> -->
  <!-- <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Inconsolata:400,700"> -->

  <!-- Inline CSS here -->
  <style type="text/css">
  {% capture inline_css %}
    {% include inline.scss %}
  {% endcapture %}
  {{ inline_css | scssify }}
  </style>

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="{{ site.url }}/assets/ico/favicon.ico">
</head>
