<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% seo %}


  <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700" rel="stylesheet">

  <!-- Inline CSS here -->
  <style type="text/css">
  {% capture inline_css %}
    {% include inline.scss %}
  {% endcapture %}
  {{ inline_css | scssify }}

  body {
    background-image: url("{{site.url}}/assets/bg.png");
  }
  </style>

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="{{ site.url }}/assets/ico/favicon.ico">
</head>
