$section-padding:  2rem 1rem;
$navbar-background-color: rgba(0,0,0,0.0);
$footer-background-color: rgba(0,0,0,0.0);
// $desktop: 672px;
// $widescreen: 768px;
// $fullhd: 864px;


@import "bulma";

@import "main";
