<!-- Navigation bar -->
<nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{site.url}}">
        <h1 class="title">{{ site.title }}</h1>
      </a>
      <span class="navbar-burger burger" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <div class="navbar-menu has-text-centered">
      <div class="navbar-end">
        <a class="navbar-item" href="{{site.url}}/about">
          About
        </a>
      </div>
    </div>
</nav>
