@charset "utf-8";

p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
a {
    color: #000;
}

a:hover {
    text-decoration-line: underline;
}
a.navbar-item:hover {
    text-decoration-line: underline;
    color: #4a4a4a;
    background-color: rgba(0,0,0,0.0);
}

.page {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
}

.title {
    font-size: 3rem;
}

.label {
    font-size: 2rem;
}

.page-content{
    flex: 1;
}

.navbar-menu {
    background-color: rgba(0,0,0,0.0);
}

.section.is-small {
    padding: 0rem 1rem 1rem 1rem;
}
.footer {
    padding: 1rem 1.5rem 1rem;
}


.frame {
    padding: 8px;
    border: 1px solid #999999;
    background-color: #fff;
    box-shadow: 5px 5px 5px #999;
}
